form action="/schedules/#{@result['id']}/update" method="post"
    input type="text" name="name" value="#{@result['name']}"
    input type="hidden" name="id" value="#{@result['id']}"
    input type="submit" value="Edit"