form action="/exercises" method="post"
    input type="text" name="exercise_name" placeholder="Name for exercise"
    input type="number" name="muscle_id" placeholder="Muscle Group id"
    input type="submit" value="Add Exercise"