p The name of the exercise is #{@result["exercise_name"]}.
p The primary muscle worked is #{@result2["Name"]}. 

/Får inte skiten att fungera, vill displaya namnet på varje muskelgrupp men vet inte vad som behöver göras
// Lägg till video om det är möjligt, fråga Emil när allt är "klart"
