h1 = result
p = result2
p = result3 
p = result4

p Övningen heter #{result["exercise_name"]}.
p Primära muskelgrupp är #{result["muscle1_id"]}. 
p Sekundära muskelgrupp är #{result["muscle2_id"]}.
p Tredje muskelgrupp är #{result["muscle3_id"]}.

/Får inte skiten att fungera, vill displaya namnet på varje muskelgrupp men vet inte vad som behöver göras
// Lägg till video om det är möjligt, fråga Emil när allt är "klart"
