h1 = result
//p = result3

p Övningen heter #{result["exercise"]}.
p Primära muskelgrupp är #{result["Name"]}.
p Sekundära muskelgrupp är #{result["Name"]}.
p Tredje muskelgrupp är #{result["third_muscle_id"]}.

// Lägg till video om det är möjligt, fråga Emil när allt är "klart"
